page-login {
    ion-content{
        background-image: url('../../assets/imgs/fondo1.jpg');
        background-size: 100%;
    }
}

.imagen{
    margin-top: 10px;
}

.items{
    margin-bottom: 8px;
    border-radius: 14px;
}